#tumb_box1 {
    --Nume-imagine:"Image Title 1";
    }
#box1 {
      background-image: url("Image/Image Title 1.png");
} 



#tumb_box2 {
        --Nume-imagine:"Image Title 2";
        }
#box2 {
          background-image: url("Image/Image Title 2.png");
} 



#tumb_box3 {
    --Nume-imagine:"Image Title 3";
    }
#box3 {
      background-image: url("Image/Image Title 3.png");
} 



#tumb_box4 {
        --Nume-imagine:"Image Title 4";
        }
#box4 {
          background-image: url("Image/Image Title 4.png");
} 




#tumb_box5 {
    --Nume-imagine:"Image Title 5";
    }
#box5 {
      background-image: url("Image/Image Title 5.png");
} 



#tumb_box6 {
        --Nume-imagine:"Image Title 6";
        }
#box6 {
          background-image: url("Image/Image Title 6.png");
} 



#tumb_box7 {
    --Nume-imagine:"Image Title 7";
    }
#box7 {
      background-image: url("Image/Image Title 7.png");
} 



#tumb_box8 {
        --Nume-imagine:"Image Title 8";
        }
#box8 {
          background-image: url("Image/Image Title 8.png");
} 



#tumb_box9 {
    --Nume-imagine:"Image Title 9";
    }
#box9 {
      background-image: url("Image/Image Title 9.png");
} 



#tumb_box10 {
        --Nume-imagine:"Image Title 10";
        }
#box10 {
          background-image: url("Image/Image Title 10.png");
} 